[submodule "repositories/frontend"]
	path = repositories/frontend
	url = https://github.com/slouching-org/slouching-frontend.git
[submodule "repositories/backend"]
	path = repositories/backend
	url = https://github.com/slouching-org/slouching-backend.git
